<%- include ("../partials/left") %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Project</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard/index">Home</a></li>
            <li class="breadcrumb-item active">Investor</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->

    <% if(typeof messages != 'undefined' && messages !=''){ %>
    <div class="alert alert-success" role="alert">
      <%= messages %>
    </div>
    <% } %>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <!-- <h3 class="card-title">Category listing</h3> -->

        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-10">
              <h3 class="card-title">Investor listing</h3>
            </div>
            <div class="col-sm-2">
              <a
                href="/investor/create"
                class="btn btn-block btn-success"
                style="float:right;"
              >
                Add Investor
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form action="/brand/list" method="get">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">&nbsp;</div>
              <div class="col-sm-4">
                <div class="form-group">
                  <input
                    type="text"
                    id="inputName"
                    name="search"
                    class="form-control"
                    value="<%= typeof search != 'undefined' ? search : '' %>"
                    placeholder="search"
                  />
                </div>
              </div>
              <div class="col-sm-1">
                <button type="submit" class="btn btn-info float-right">
                  Search
                </button>
              </div>
              <div class="col-sm-1">
                <a href="/brand/list" class="nav-link">Reset</a>
              </div>
            </div>
          </div>
        </form>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th style="width: 20%">
                # Investor Name <% if(!search) { %>
                <a href="/brand/list/<%=current %>/desc_name">^</a> |
                <a href="/brand/list/<%=current %>/asc_name">V</a>
                <% } %>
              </th>

              <th style="width: 8%" class="text-center">
                Status <% if(!search) { %>
                <a href="/brand/list/<%=current %>/desc_status">^</a> |
                <a href="/brand/list/<%=current %>/asc_status">V</a>
                <% } %>
              </th>
              <% if(user.role === 'admin') { %>
              <th style="width: 20%">
                Action
              </th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% if(result > 0) { %> <% brand.forEach(function(brands) {%>
            <tr>
              <td># <%= brands.brand_name %></td>
              <td class="project-state">
                <% if(brands.status == 'active'){ %>
                <span class="badge badge-primary"><%= brands.status %></span>
                <% } %> <% if(brands.status == 'inactive'){ %>
                <span class="badge badge-danger"><%= brands.status %></span>
                <% } %>
              </td>
              <% if(user.role === 'admin') { %>
              <td class="project-actions text-right">
                <a class="btn btn-info btn-sm" href="edit/<%= brands._id %>">
                  <i class="fas fa-pencil-alt"> </i>
                  Edit
                </a>
                <a class="btn btn-info btn-sm" href="delete/<%= brands._id %>">
                  <i class="fas fa-trash"> </i>
                  Delete
                </a>
              </td>
              <% } %>
            </tr>
            <% }); %> <% } else { %>
            <tr>
              <td colspan="3">No results found!</td>
            </tr>
            <% } %>
          </tbody>
        </table>

        <p>&nbsp;</p>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include ("../partials/footer") %>

<!-- /.control-sidebar -->

<!-- ./wrapper -->
